* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
/* ::-webkit-scrollbar {
  display: none;
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./aurora.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(70px);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 100%;
  margin: 60px 30px 30px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
}
.header {
  display: flex;
  width: 100%;
  height: 60px;
}
.logo-section,
.logo-section i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 100%;
  color: #159957;
  background-color: white;
}
.s-container {
  display: flex;
  width: 100%;
  height: 510px;
}
.h-left-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 100%;
}
.h-middle-section {
  display: flex;

  align-items: center;
  width: 400px;
  height: 100%;
  margin-right: 190px;
}
.h-right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 100%;
}
.aside-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  margin: 0;
  background-color: white;
  color: #159957;
}
.aside-left i {
  background: -webkit-linear-gradient(#159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
}
.main {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main-top {
  height: 200px;
  width: 100%;
  display: flex;
}
.f-info {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}
.icon-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}
.icon-temp i {
  display: flex;
  font-size: 100px;
}
.icon-temp p {
  display: flex;
  font-size: 50px;
}
.rise-set {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rise-set p {
  margin: 3px;
}
.s-info {
  display: flex;
  flex: 2;
  height: 100%;
  flex-direction: column;
}
.location {
  display: flex;
}
.l-f {
  display: flex;
  flex: 1;
  margin: 20px 10px;
  font-size: 25px;
}
.l-s {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  font-size: 25px;
  flex: 2;
}
.l-s p {
  display: flex;
  justify-content: flex-end;
}
.description {
  font-size: 40px;
  margin: 10px;
}
.main-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-bottom p {
  border: 3px solid white;
  border-radius: 7px;
  display: flex;
  font-size: 30px;
  width: 270px;
  height: 100px;
  margin: 30px;
}
.aside-right {
  border-top: 1px solid white;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30%;
}

.footer {
  border-top: 1px solid grey;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  padding: 0;
}
